# Servidor y Puerto
SERVER_PORT=8082

# Configuración de Base de Datos
DB_URL=jdbc:postgresql://localhost:[PUERTO]/[NOMBRE_BD]
DB_USERNAME=[USUARIO_TECNICO]
DB_PASSWORD=[CONTRASENA_SEGURA]

# Configuración del Administrador Inicial
ADMIN_USERNAME=[ADMIN_USER]
ADMIN_PASSWORD=[ADMIN_PASS]